[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:chris-ritsen/vim-syntastic
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:chris-ritsen/vim-ctrlp.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:chris-ritsen/vim-surround.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@github.com:chris-ritsen/vim-snipmate.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git@github.com:chris-ritsen/vim-matchit.git
[submodule ".vim/bundle/abbr"]
	path = .vim/bundle/abbr
	url = git@github.com:chris-ritsen/vim-abbr.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git@github.com:chris-ritsen/vim-powerline.git
[submodule ".vim/bundle/commandt"]
	path = .vim/bundle/commandt
	url = git@github.com:chris-ritsen/vim-commandt.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = git@github.com:chris-ritsen/vim-commentary.git
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = git@github.com:chris-ritsen/vim-youcompleteme.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:chris-ritsen/tagbar.git
[submodule ".vim/bundle/wombad256mod"]
	path = .vim/bundle/wombad256mod
	url = git@github.com:chris-ritsen/vim-wombat256mod.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:chris-ritsen/vim-fugitive.git

[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:chris-ritsen/vim-nerdtree.git
